In [111]:
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import accuracy_score
import functions
from collections import Counter
import numpy as np
import pandas as pd

TRAIN_DIR = "train"
TEST_DIR = "test"

In [26]:
def predictAccuracy(y1, y2, cutoff = .5):
    return sum([a == (b >= cutoff) for a,b in zip(y1,y2)]) / float(len(y1))

def cv_optimize(clf, parameters, X, y, n_jobs, n_folds, score_func, verbose):
    gs = GridSearchCV(clf, param_grid=parameters, cv=n_folds, n_jobs=n_jobs, verbose=verbose, scoring=score_func)
    gs.fit(X, y)
    print "BEST", gs.best_params_, gs.best_score_, gs.grid_scores_
    best = gs.best_estimator_
    return best, gs.best_params_

def do_classify(clf, parameters, X, y, mask=None, n_folds=5, n_jobs=4, verbose=False, score_func=None):
    if mask is None:
        print "Test"
        mask = split_mask(X)
    X_train, X_cv, y_train, y_cv = X[mask], X[~mask], y[mask], y[~mask]
    clf, best_params_ = cv_optimize(clf, parameters, X_train, y_train, n_jobs=n_jobs, n_folds=n_folds, verbose=verbose, score_func=score_func)
    clf=clf.fit(X_train, y_train)
    train_preds = clf.predict(X_train)
    cv_preds = clf.predict(X_cv)
    training_accuracy = predictAccuracy(y_train, train_preds, .5)
    cv_accuracy = predictAccuracy(y_cv, cv_preds)
    if verbose:
        print "Training classes"
        print training_accuracy
        print "############# based on standard predict ################"
        print "Accuracy on training data: %0.4f" % training_accuracy
        print "Accuracy on crossv data:   %0.4f" % cv_accuracy
        print "########################################################"
    return clf, X_train, y_train, X_cv, y_cv, best_params_

In [27]:
X, y, ids, call_list = functions.create_data_matrix(direc=TRAIN_DIR, verbose=True)

Number of datafiles loaded: 3086

In [28]:
X.shape

(3086L, 106L)

In [52]:
mask = functions.split_mask(X, .99)

In [75]:
poly = PolynomialFeatures(2, interaction_only=True)

In [97]:
X_ = poly.fit_transform(X)

In [79]:
clfForest = RandomForestClassifier()
clfForestRegressor = RandomForestRegressor()
parameters = {
#    "n_estimators" : [100],
#    "n_estimators" : [100,200,400,800],
#    "max_depth": [25]
#    "max_depth": [100,200,400,None]
}

In [80]:
y_morphed = np.array([0 if y_ == 8 else 1 for y_ in y])

In [81]:
y_lists = []
for y_ in range(15):
    y_lists.append(np.array([1 if y__ == y_ else 0 for y__ in y]))

In [98]:
%%time
forests = []
for lst in y_lists:
    clfForest_test, _, _, X_cv, y_cv, best_params = do_classify(clfForestRegressor, parameters, X_, lst, mask=mask, n_folds = 3, n_jobs = 1, verbose=True)
    forests.append(clfForest_test)

Fitting 3 folds for each of 1 candidates, totalling 3 fits
BEST {} 0.136426895321 [mean: 0.13643, std: 0.08803, params: {}]
Training classes
0.996399345336
############# based on standard predict ################
Accuracy on training data: 0.9964
Accuracy on crossv data:   1.0000
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:  1.1min finished
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   29.2s finished

BEST {} 0.47515493258 [mean: 0.47515, std: 0.05926, params: {}]
Training classes
0.998036006547
############# based on standard predict ################
Accuracy on training data: 0.9980
Accuracy on crossv data:   1.0000
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits
BEST {} 0.443198013091 [mean: 0.44320, std: 0.15280, params: {}]
Training classes
0.999672667758
############# based on standard predict ################
Accuracy on training data: 0.9997
Accuracy on crossv data:   0.9677
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   25.1s finished
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   17.3s finished

BEST {} 0.673394063241 [mean: 0.67339, std: 0.09146, params: {}]
Training classes
1.0
############# based on standard predict ################
Accuracy on training data: 1.0000
Accuracy on crossv data:   1.0000
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits
BEST {} 0.286276393439 [mean: 0.28628, std: 0.10291, params: {}]
Training classes
0.999018003273
############# based on standard predict ################
Accuracy on training data: 0.9990
Accuracy on crossv data:   1.0000
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   23.1s finished
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   25.1s finished

BEST {} 0.472050534032 [mean: 0.47205, std: 0.15437, params: {}]
Training classes
0.998363338789
############# based on standard predict ################
Accuracy on training data: 0.9984
Accuracy on crossv data:   1.0000
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits
BEST {} 0.886354576895 [mean: 0.88635, std: 0.00649, params: {}]
Training classes
1.0
############# based on standard predict ################
Accuracy on training data: 1.0000
Accuracy on crossv data:   1.0000
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    5.5s finished
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   16.7s finished

BEST {} 0.714581996239 [mean: 0.71458, std: 0.05544, params: {}]
Training classes
0.999345335516
############# based on standard predict ################
Accuracy on training data: 0.9993
Accuracy on crossv data:   1.0000
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits
BEST {} 0.776821653544 [mean: 0.77682, std: 0.01311, params: {}]
Training classes
0.988543371522
############# based on standard predict ################
Accuracy on training data: 0.9885
Accuracy on crossv data:   0.9355
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   33.0s finished
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   15.2s finished

BEST {} -0.0390091158632 [mean: -0.03901, std: 0.17664, params: {}]
Training classes
0.998363338789
############# based on standard predict ################
Accuracy on training data: 0.9984
Accuracy on crossv data:   1.0000
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits
BEST {} 0.967728033697 [mean: 0.96773, std: 0.01470, params: {}]
Training classes
1.0
############# based on standard predict ################
Accuracy on training data: 1.0000
Accuracy on crossv data:   1.0000
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   11.6s finished
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   15.3s finished

BEST {} 0.437063623508 [mean: 0.43706, std: 0.12250, params: {}]
Training classes
0.998036006547
############# based on standard predict ################
Accuracy on training data: 0.9980
Accuracy on crossv data:   0.9677
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits
BEST {} 0.811449697959 [mean: 0.81145, std: 0.02549, params: {}]
Training classes
0.995417348609
############# based on standard predict ################
Accuracy on training data: 0.9954
Accuracy on crossv data:   0.9677
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   17.2s finished
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   26.4s finished

BEST {} 0.0296139920517 [mean: 0.02961, std: 0.09280, params: {}]
Training classes
0.999018003273
############# based on standard predict ################
Accuracy on training data: 0.9990
Accuracy on crossv data:   0.9677
########################################################
Fitting 3 folds for each of 1 candidates, totalling 3 fits
BEST {} 0.705659234464 [mean: 0.70566, std: 0.08188, params: {}]
Training classes
0.998363338789
############# based on standard predict ################
Accuracy on training data: 0.9984
Accuracy on crossv data:   1.0000
########################################################
Wall time: 13min 15s

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:   11.8s finished

In [99]:
X_cv, y_cv = X[~mask], y[~mask]

In [100]:
def predict(preds):
    return np.array([np.argmax(p) for p in zip(*np.array(preds))])

def accuracy(preds, actual):
    return sum([a == b for a,b in zip(preds, actual)]) / float(len(preds))

In [102]:
#preds_mat = [f.predict(X_cv) for f in forests]

In [103]:
#preds = predict(preds_mat)

In [104]:
#accuracy(preds, y_cv)

In [66]:
X_test, y_test, ids, _ = functions.create_data_matrix(direc=TEST_DIR, verbose=True, call_list=call_list)

Number of datafiles loaded: 3724

In [105]:
print X_test.shape

(3724L, 106L)

In [106]:
X_test_ = poly.fit_transform(X_test)
print X_test_.shape

(3724L, 5672L)

In [107]:
preds_mat_act = [f.predict(X_test_) for f in forests]

In [114]:
test = pd.DataFrame(preds_mat_act).T

In [120]:
for row in test.iterrows():
    print row

(0, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 0, dtype: float64)
(1, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 1, dtype: float64)
(2, 0     0.000
1     0.000
2     0.000
3     0.100
4     0.000
5     0.000
6     0.000
7     0.000
8     0.175
9     0.000
10    0.000
11    0.000
12    0.000
13    0.500
14    0.000
Name: 2, dtype: float64)
(3, 0     0.100000
1     0.000000
2     0.166667
3     0.100000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.100000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
Name: 3, dtype: float64)
(4, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 4, dtype: float64)
(5, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 5, dtype: float64)
(6, 0     0
1     0
2     0
3     0
4     0
5     1
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 6, dtype: float64)
(7, 0     0.027952
1     0.000000
2     0.000000
3     0.000000
4     0.018971
5     0.027753
6     0.000000
7     0.000000
8     0.740120
9     0.066313
10    0.000000
11    0.093795
12    0.028655
13    0.000000
14    0.000000
Name: 7, dtype: float64)
(8, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 8, dtype: float64)
(9, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.1
5     0.0
6     0.0
7     0.0
8     0.1
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 9, dtype: float64)
(10, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.8
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 10, dtype: float64)
(11, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.007143
6     0.000000
7     0.000000
8     1.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
Name: 11, dtype: float64)
(12, 0     0.1
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.3
9     0.7
10    0.0
11    0.0
12    0.1
13    0.1
14    0.0
Name: 12, dtype: float64)
(13, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 13, dtype: float64)
(14, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 14, dtype: float64)
(15, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 15, dtype: float64)
(16, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.000000
9     0.000000
10    0.000000
11    0.000000
12    0.166667
13    0.000000
14    0.000000
Name: 16, dtype: float64)
(17, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.1
5     0.0
6     0.0
7     0.0
8     0.7
9     0.0
10    0.7
11    0.0
12    0.1
13    0.3
14    0.0
Name: 17, dtype: float64)
(18, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.1
9     0.0
10    0.0
11    1.0
12    0.0
13    0.0
14    0.0
Name: 18, dtype: float64)
(19, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 19, dtype: float64)
(20, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 20, dtype: float64)
(21, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 21, dtype: float64)
(22, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.6
6     0.0
7     0.0
8     0.1
9     0.0
10    0.0
11    0.0
12    0.0
13    0.2
14    0.0
Name: 22, dtype: float64)
(23, 0     0.1
1     0.0
2     1.0
3     0.1
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 23, dtype: float64)
(24, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 24, dtype: float64)
(25, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 25, dtype: float64)
(26, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 26, dtype: float64)
(27, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.8
9     0.1
10    0.0
11    0.0
12    0.1
13    0.1
14    0.0
Name: 27, dtype: float64)
(28, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 28, dtype: float64)
(29, 0     0
1     0
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 29, dtype: float64)
(30, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 30, dtype: float64)
(31, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 31, dtype: float64)
(32, 0     0.0
1     0.0
2     0.1
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 32, dtype: float64)
(33, 0     0.2
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.7
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 33, dtype: float64)
(34, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 34, dtype: float64)
(35, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 35, dtype: float64)
(36, 0     0.1
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.1
9     0.0
10    0.0
11    0.0
12    1.0
13    0.1
14    0.0
Name: 36, dtype: float64)
(37, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 37, dtype: float64)
(38, 0     0.2
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.1
9     1.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 38, dtype: float64)
(39, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 39, dtype: float64)
(40, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.007143
6     0.000000
7     0.000000
8     1.000000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.000000
Name: 40, dtype: float64)
(41, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 41, dtype: float64)
(42, 0     0.1
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.8
9     0.0
10    0.0
11    0.0
12    0.2
13    0.2
14    0.0
Name: 42, dtype: float64)
(43, 0     0.027952
1     0.000000
2     0.000000
3     0.000000
4     0.018971
5     0.027753
6     0.000000
7     0.000000
8     0.740120
9     0.066313
10    0.000000
11    0.093795
12    0.028655
13    0.000000
14    0.000000
Name: 43, dtype: float64)
(44, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 44, dtype: float64)
(45, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 45, dtype: float64)
(46, 0     0
1     0
2     0
3     0
4     0
5     0
6     1
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 46, dtype: float64)
(47, 0     0.1
1     0.0
2     0.1
3     0.1
4     0.0
5     0.0
6     0.0
7     0.0
8     0.1
9     0.0
10    0.0
11    0.9
12    0.0
13    0.0
14    0.0
Name: 47, dtype: float64)
(48, 0     0.0
1     0.0
2     0.1
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 48, dtype: float64)
(49, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.2
5     0.0
6     0.0
7     0.0
8     0.2
9     0.0
10    0.0
11    0.0
12    0.2
13    0.0
14    0.0
Name: 49, dtype: float64)
(50, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 50, dtype: float64)
(51, 0     0.0
1     0.0
2     0.1
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 51, dtype: float64)
(52, 0     0.00
1     0.00
2     0.00
3     0.00
4     0.00
5     0.00
6     0.00
7     0.00
8     0.95
9     0.00
10    0.00
11    0.00
12    0.00
13    0.00
14    0.00
Name: 52, dtype: float64)
(53, 0     0.0
1     0.0
2     0.1
3     0.0
4     0.0
5     0.2
6     0.0
7     0.0
8     0.7
9     0.0
10    0.0
11    0.0
12    0.1
13    0.0
14    0.0
Name: 53, dtype: float64)
(54, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.9
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 54, dtype: float64)
(55, 0     0.0
1     0.0
2     0.1
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 55, dtype: float64)
(56, 0     0.00
1     0.00
2     0.00
3     0.00
4     0.00
5     0.00
6     0.00
7     0.00
8     0.00
9     0.00
10    0.00
11    0.00
12    0.95
13    0.00
14    0.00
Name: 56, dtype: float64)
(57, 0     0.1
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.3
13    0.0
14    0.0
Name: 57, dtype: float64)
(58, 0     0.1
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.2
13    0.2
14    0.0
Name: 58, dtype: float64)
(59, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 59, dtype: float64)
(60, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 60, dtype: float64)
(61, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 61, dtype: float64)
(62, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 62, dtype: float64)
(63, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 63, dtype: float64)
(64, 0     0.0
1     0.1
2     0.0
3     0.0
4     0.0
5     0.6
6     0.0
7     0.0
8     0.1
9     0.0
10    0.0
11    0.0
12    1.0
13    0.0
14    0.0
Name: 64, dtype: float64)
(65, 0     0.1
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.2
9     0.7
10    0.0
11    0.0
12    0.1
13    0.1
14    0.0
Name: 65, dtype: float64)
(66, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 66, dtype: float64)
(67, 0     0.7
1     0.2
2     0.2
3     0.0
4     0.1
5     0.5
6     0.0
7     0.1
8     0.3
9     0.1
10    0.0
11    0.0
12    0.5
13    0.2
14    0.0
Name: 67, dtype: float64)
(68, 0     0.10
1     0.00
2     0.00
3     0.00
4     0.00
5     0.00
6     0.00
7     0.00
8     0.05
9     0.00
10    0.00
11    1.00
12    0.00
13    0.00
14    0.00
Name: 68, dtype: float64)
(69, 0     0.0
1     0.0
2     0.1
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 69, dtype: float64)
(70, 0     0.300000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.100000
9     0.300000
10    0.000000
11    0.000000
12    0.800000
13    0.000000
14    0.033333
Name: 70, dtype: float64)
(71, 0     0.6
1     0.0
2     0.3
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 71, dtype: float64)
(72, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.8
11    0.0
12    0.0
13    0.0
14    0.0
Name: 72, dtype: float64)
(73, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 73, dtype: float64)
(74, 0     0.1
1     0.0
2     0.0
3     0.0
4     0.3
5     0.0
6     0.0
7     0.0
8     0.2
9     0.0
10    0.0
11    0.1
12    0.0
13    0.1
14    0.0
Name: 74, dtype: float64)
(75, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 75, dtype: float64)
(76, 0     0.8
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.6
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 76, dtype: float64)
(77, 0     0.0
1     0.1
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.0
9     0.0
10    0.0
11    0.0
12    1.0
13    0.0
14    0.0
Name: 77, dtype: float64)
(78, 0     0
1     0
2     0
3     0
4     1
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
Name: 78, dtype: float64)
(79, 0     0.0
1     0.0
2     0.1
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 79, dtype: float64)
(80, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 80, dtype: float64)
(81, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 81, dtype: float64)
(82, 0     0.1
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 82, dtype: float64)
(83, 0     0.075
1     0.000
2     0.300
3     0.000
4     0.000
5     0.000
6     0.000
7     0.000
8     0.075
9     0.000
10    0.000
11    0.000
12    0.000
13    0.000
14    0.100
Name: 83, dtype: float64)
(84, 0     0.0
1     0.0
2     0.1
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 84, dtype: float64)
(85, 0     0.100000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.850000
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.466667
Name: 85, dtype: float64)
(86, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.9
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 86, dtype: float64)
(87, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    1
11    0
12    0
13    0
14    0
Name: 87, dtype: float64)
(88, 0     0.175
1     0.000
2     0.100
3     0.000
4     0.000
5     0.000
6     0.000
7     0.000
8     0.100
9     0.000
10    0.000
11    0.000
12    0.000
13    0.300
14    0.100
Name: 88, dtype: float64)
(89, 0     0.000
1     0.000
2     0.000
3     0.000
4     0.000
5     0.000
6     0.000
7     0.000
8     0.225
9     0.000
10    0.000
11    0.000
12    0.000
13    0.600
14    0.000
Name: 89, dtype: float64)
(90, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 90, dtype: float64)
(91, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 91, dtype: float64)
(92, 0     0.0
1     0.0
2     0.0
3     0.1
4     0.0
5     0.0
6     0.0
7     0.0
8     0.2
9     0.0
10    0.0
11    0.0
12    0.0
13    0.9
14    0.0
Name: 92, dtype: float64)
(93, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.2
5     0.0
6     0.0
7     0.0
8     0.7
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 93, dtype: float64)
(94, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 94, dtype: float64)
(95, 0     0.10
1     0.00
2     0.00
3     0.00
4     0.00
5     0.00
6     0.00
7     0.00
8     0.75
9     0.50
10    0.00
11    0.00
12    0.10
13    0.00
14    0.00
Name: 95, dtype: float64)
(96, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.8
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.1
Name: 96, dtype: float64)
(97, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 97, dtype: float64)
(98, 0     0.1
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     1.0
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 98, dtype: float64)
(99, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.8
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 99, dtype: float64)
(100, 0     0.0
1     0.0
2     0.0
3     0.0
4     0.0
5     0.0
6     0.0
7     0.0
8     0.9
9     0.0
10    0.0
11    0.0
12    0.0
13    0.0
14    0.0
Name: 100, dtype: float64)
(101, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 101, dtype: float64)
(102, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 102, dtype: float64)
(103, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.941667
9     0.000000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.050000
Name: 103, dtype: float64)
(104, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.004527
9     0.000000
10    0.000000
11    0.000000
12    0.993104
13    0.000000
14    0.000000
Name: 104, dtype: float64)
(105, 0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
Name: 105, dtype: float64)
(106, 0     0.000000
1     0.000000
2     0.000000
3     0.000000
4     0.000000
5     0.000000
6     0.000000
7     0.000000
8     0.916667
9     0.000000
10    0.000000
11    0.000000
12    0.450000
13    0.000000
14    0.000000

KeyboardInterrupt:

In [108]:
preds_act = predict(preds_mat_act)

In [71]:
# We have predictions!!!!

In [109]:
functions.write_to_file("submissions/RandForest_mult_3.csv", ids, preds_act)